.two-cols-header {
    grid-template-rows: auto 1fr !important;
}
  
.two-cols-header > .col-header {
    padding-bottom: 30px !important;
}

.two-cols-header > .col-left, .two-cols-header > .col-right {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}